.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

body {
	min-width: 320px;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

a {
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
}

h2 {
	font: 700 26px/1.25 "Poppins", sans-serif;
}

.top-container {
	font-family: "Poppins", sans-serif;
	background: url(../images/visual-bg.png) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}

.header {
	padding: 22px 0;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.logo {
	position: relative;
	margin: 6px 0 0;
	display: block;
	width: 83px;
}

.logo a {
	display: block;
}

.logo img {
	width: 100%;
	height: auto;
	display: block;
}

.nav-drop {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	margin: 2px -18px 0;
	letter-spacing: .5px;
}

.menu li {
	position: relative;
	padding: 0 18px;
}

.menu li.active a {
	color: #1eb858;
}

.menu a {
	color: #fff;
}

.menu a:hover {
	text-decoration: none;
	color: #1eb858;
}

.download-btn {
	border: 2px solid #414348;
	border-radius: 25px;
	display: block;
	color: #1eb858;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	width: 152px;
	height: 38px;
	margin: 0 0 0 27px;
	font-weight: 700;
}

.download-btn:hover {
	background: #1eb858;
	border-color: #1eb858;
	color: #fff;
	text-decoration: none;
}

.visual-area {
	position: relative;
}

.visual-caption {
	position: relative;
	text-align: center;
	max-width: 565px;
	margin: 0 auto;
	padding: 154px 0 52px;
}

.visual-caption h1 {
	font-weight: 700;
	font-size: 26px;
	line-height: 34px;
	color: #fff;
	margin: 0 0 15px;
}

.visual-caption h1 strong {
	color: #1eb858;
}

.visual-slider {
	position: relative;
	max-width: 920px;
	margin: 0 auto;
}

.visual-slider:before {
	background: #21be61;
	content: "";
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
}

.visual-slider:after {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .55) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .55) 100%);
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 90px;
}

.visual-slider .slideset {
	position: relative;
}

.visual-slider .slide {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}

.visual-slider .slide.active {
	z-index: 2;
}

.visual-slider .image-holder {
	position: relative;
	width: 340px;
	margin: 0 auto;
}

.visual-slider .image-holder img {
	width: 100%;
	height: auto;
	display: block;
}

.visual-slider .pagination {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	list-style: none;
	padding: 0;
	margin: 0 -12px;
	position: absolute;
	border-radius: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	left: -240px;
	top: 119px;
	z-index: 5;
}

.visual-slider .pagination li {
	position: relative;
	margin: 0 12px;
	padding: 0 0 6px;
}

.visual-slider .pagination li:before {
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
	opacity: 0;
	visibility: hidden;
	background: #5b5c5f;
	height: 1px;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.visual-slider .pagination li.active:before {
	opacity: 1;
	visibility: visible;
}

.visual-slider .pagination a {
	position: relative;
	color: #fff;
	display: inline-block;
	vertical-align: top;
}

.visual-slider .pagination a span {
	color: #1eb858;
}

.visual-slider .pagination a:hover {
	text-decoration: none;
	opacity: .8;
}

.download-area {
	font-family: "Poppins", sans-serif;
	background: #f7f7f7;
	padding: 96px 0 100px;
	position: relative;
}

.download-area .container {
	max-width: 862px;
}

.download-area .head {
	color: #abafb8;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	margin: 0 0 36px;
	text-align: center;
}

.download-area .head h2 {
	font-size: 26px;
	line-height: 32px;
	color: #000;
	font-weight: 700;
	margin: 0 0 12px;
}

.download-area .head h2 strong {
	color: #1eb858;
}

.download-area .head p {
	text-transform: uppercase;
	letter-spacing: .7px;
	margin: 0;
}

.download-area .apps-list {
	position: relative;
	list-style: none;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 -20px;
}

.download-area .apps-list li {
	position: relative;
	padding: 0 20px;
}

.download-area .apps-list a {
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .1);
	position: relative;
	padding: 20px 15px 15px 32px;
	background: #fff;
	display: block;
	width: 240px;
	height: 80px;
}

.download-area .apps-list a:hover {
	text-decoration: none;
	opacity: .7;
}

.download-area .apps-list .app-img {
	float: left;
	margin: 4px 0 0;
}

.download-area .apps-list .app-img img {
	display: block;
}

.download-area .apps-list .description {
	padding: 0 0 0 10px;
	position: relative;
	overflow: hidden;
}

.download-area .apps-list .title {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	display: block;
	color: #abafb8;
}

.download-area .apps-list .text {
	font-size: 22px;
	line-height: 28px;
	display: block;
	color: #000;
}

.block-showcase {
	position: relative;
	overflow: hidden;
	padding: 101px 0 50px;
	z-index: 2;
}

.block-showcase:before {
	position: absolute;
	left: -9999px;
	right: -9999px;
	top: 26.1%;
	height: 250px;
	content: "";
	background: #29b865;
	-webkit-transform: rotate(154deg) translate(0, -50%);
	-ms-transform: rotate(154deg) translate(0, -50%);
	transform: rotate(154deg) translate(0, -50%);
}

.article {
	position: relative;
	font-size: 14px;
	line-height: 1.95;
	color: #abafb8;
}

.article:nth-child(odd) .row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.article:nth-child(odd) .text-holder {
	padding-left: 0;
}

.article .row {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.article h2 {
	margin: 0 0 18px;
	color: #000;
}

.article p {
	margin: 0 0 44px;
	text-transform: uppercase;
}

.article .list-options {
	position: relative;
	overflow: hidden;
	color: #000;
	margin: 0 0 38px;
	letter-spacing: .2px;
	font-weight: 600;
}

.article .list-options li {
	margin: 0 0 15px;
	position: relative;
	padding: 0 0 0 24px;
}

.article .list-options .fas {
	position: absolute;
	left: 5px;
	top: 15px;
	color: #1eb857;
}

.article .list-icons {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -9px;
}

.article .list-icons li {
	padding: 0 9px;
}

.article .list-icons a {
	width: 72px;
	height: 72px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 10px;
	box-shadow: 0 2px 8px 0 rgba(204, 204, 204, .75);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	background: #fff;
}

.article .list-icons a:hover {
	-webkit-transform: translate(0, -4px);
	-ms-transform: translate(0, -4px);
	transform: translate(0, -4px);
	box-shadow: 0 4px 8px 0 rgba(204, 204, 204, .85);
}

.article .list-icons img {
	max-width: 50%;
}

.article .image-holder {
	position: relative;
	overflow: hidden;
}

.article .image-holder img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.article .list-links {
	position: relative;
	padding: 6px 0 0;
}

.article .list-links li {
	margin: 0 0 2px;
}

.article .list-links a {
	display: block;
	position: relative;
	padding: 27px 40px 27px 60px;
	color: #000;
	box-shadow: 0 2px 8px 0 rgba(204, 204, 204, .75);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	font-weight: 600;
	letter-spacing: .3px;
	line-height: 1.2;
}

.article .list-links a:hover {
	text-decoration: none;
	box-shadow: 0 2px 10px 0 rgba(204, 204, 204, .85);
}

.article .list-links a:hover .fas {
	color: #000;
}

.article .list-links a .icon {
	width: 30px;
	left: 22px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	position: absolute;
}

.article .list-links a .icon img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.article .list-links a .fas {
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #d5d7db;
	font-size: 20px;
	line-height: 20px;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

@media (min-width: 992px) {
	.download-area .apps-list li:nth-child(2) a {
		width: 270px;
	}
}

@media (min-width: 1300px) {
	.container {
		max-width: 1230px;
	}

	.article:nth-child(odd) .image-holder {
		margin: 0 -37px 0 0;
	}

	.article:nth-child(odd) .text-holder {
		padding-bottom: 68px;
	}

	.article .text-holder {
		padding: 0 0 0 44px;
	}

	.article .image-holder {
		margin: 0 0 0 -40px;
	}
}

@media (max-width: 1299px) {
	.visual-slider .pagination {
		left: -200px;
	}
}

@media (max-width: 1199px) {
	.visual-slider {
		max-width: 780px;
	}

	.block-showcase {
		padding: 50px 0;
	}

	.block-showcase:before {
		top: 15%;
	}

	.article {
		margin: 0 0 64px;
	}

	.article p {
		margin: 0 0 16px;
	}
}

@media (max-width: 991px) {
	.menu {
		letter-spacing: 0;
		margin: 0 -10px;
	}

	.menu li {
		padding: 0 10px;
	}

	.download-btn {
		margin: 0 0 0 25px;
	}

	.visual-slider {
		max-width: 580px;
	}

	.visual-slider .image-holder {
		width: 300px;
	}

	.visual-slider .pagination {
		left: -170px;
	}

	.download-area .apps-list {
		margin: 0 -10px;
	}

	.download-area .apps-list li {
		padding: 0 10px;
	}

	.download-area .apps-list a {
		padding: 20px 5px 15px 20px;
		width: 230px;
	}

	.download-area .apps-list .text {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	h2 {
		line-height: .95;
	}

	.top-container .container {
		padding: 0;
		max-width: 100%;
	}

	.header {
		padding: 22px 39px;
	}

	.menu {
		display: none;
	}

	.visual-caption {
		padding: 33px 15px 39px;
	}

	.visual-slider {
		max-width: 100%;
	}

	.visual-slider:before {
		top: 72px;
	}

	.visual-slider .image-holder {
		width: 280px;
	}

	.visual-slider .pagination {
		display: none;
	}

	.download-area {
		padding: 55px 0 50px;
	}

	.download-area .head {
		padding: 0 20px;
		line-height: 24px;
		margin: 0 0 31px;
	}

	.download-area .head h2 {
		line-height: 28px;
		margin: 0 0 17px;
	}

	.download-area .apps-list {
		margin: 0 auto;
		max-width: 270px;
		display: block;
	}

	.download-area .apps-list li {
		padding: 0;
		margin: 0 0 11px;
	}

	.download-area .apps-list a {
		padding: 20px 15px 15px 32px;
		width: 100%;
	}

	.download-area .apps-list .text {
		font-size: 22px;
	}

	.block-showcase {
		padding: 65px 25px;
	}

	.block-showcase:before {
		display: none;
	}

	.article:nth-child(odd) .image-holder {
		margin: 0 -25px 0 -23px;
	}

	.article:nth-child(odd) .text-holder {
		margin: 6px 0 0 -4px;
	}

	.article .list-options {
		margin: 0 0 24px;
	}

	.article .list-options li {
		padding: 0 0 0 29px;
		letter-spacing: 0;
		line-height: 2.95;
		margin: 0 0 1px;
	}

	.article .list-icons {
		margin: 0;
		padding: 0 0 0 17px;
	}

	.article .image-holder {
		margin: 0 -25px 7px -24px;
	}

	.article .list-links {
		margin: 0 -40px;
		padding: 14px 0 0;
	}

	.article .list-links a {
		padding: 15px 40px 12px 60px;
		line-height: 1.6;
	}
}

@media (max-width: 369px) {
	.header {
		padding: 22px 25px;
	}

	.block-showcase {
		padding: 65px 0;
	}

	.article .list-links {
		margin: 0 -15px;
	}
}
