$breakpoints: (
	'xs-phone': 370px,
	'phone': 576px,
	'tablet': 768px,
	'desktop': 992px,
	'widescreen': 1200px,
	'large': 1300px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import "bootstrap-custom";

@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';

body {
	min-width: $base-min-width;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

a {
	transition: all 0.6s ease;
}

.container {
	@include media('>=large') {
		max-width: 1230px;
	}
}

h2 {
	font: 700 26px/1.25 $popins;

	@include media('<tablet') {
		line-height: 0.95;
	}
}



.top-container {
	font-family: $popins;
	background: url(../images/visual-bg.png) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;

	.container {
		@include media('<tablet') {
			padding: 0;
			max-width: 100%;
		}
	}
}

.header {
	padding: 22px 0;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	@include media('<tablet') {
		padding: 22px 39px;
	}
	@include media('<370px') {
		padding: 22px 25px;
	}
}

.logo {
	position: relative;
	margin: 6px 0 0;
	display: block;
	width: 83px;
	a {
		display: block;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.nav-drop {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	margin: 2px -18px 0;
	letter-spacing: 0.5px;
	@include media('<desktop') {
		letter-spacing: 0;
		margin: 0 -10px;
	}
	@include media('<tablet') {
		display: none;
	}
	li {
		position: relative;
		padding: 0 18px;
		@include media('<desktop') {
			padding: 0 10px;
		}
		&.active {
			a {
				color: #1eb858;
			}
		}
	}
	a {
		color: #fff;
		&:hover {
			text-decoration: none;
			color: #1eb858;
		}
	}
}

.download-btn {
	border: 2px solid #414348;
	border-radius: 25px;
	display: block;
	color: #1eb858;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	line-height: 34px;
	width: 152px;
	height: 38px;
	margin: 0 0 0 27px;
	font-weight: 700;
	@include media('<desktop') {
		margin: 0 0 0 25px;
	}
	&:hover {
		background: #1eb858;
		border-color: #1eb858;
		color: #fff;
		text-decoration: none;
	}
}

.visual-area {
	position: relative;
}

.visual-caption {
	position: relative;
	text-align: center;
	max-width: 565px;
	margin: 0 auto;
	padding: 154px 0 52px;
	@include media('<tablet') {
		padding: 33px 15px 39px;
	}
	h1 {
		font-weight: 700;
		font-size: 26px;
		line-height: 34px;
		color: #fff;
		margin: 0 0 15px;
		strong {
			color: #1eb858;
		}
	}
}

.visual-slider {
	position: relative;
	max-width: 920px;
	margin: 0 auto;
	@include media('<widescreen') {
		max-width: 780px;
	}
	@include media('<desktop') {
		max-width: 580px;
	}
	@include media('<tablet') {
		max-width: 100%;
	}
	&:before {
		background: #21be61;
		content: '';
		position: absolute;
		top: 90px;
		left: 0;
		right: 0;
		bottom: 0;
		@include media('<tablet') {
			top: 72px;
		}
	}
	&:after {
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%);
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 90px;
	}
	.slideset {
		position: relative;
	}
	.slide {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;
		&.active {
			z-index: 2;
		}
	}
	.image-holder {
		position: relative;
		width: 340px;
		margin: 0 auto;
		@include media('<desktop') {
			width: 300px;
		}
		@include media('<tablet') {
			width: 280px;
		}
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	.pagination {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		list-style: none;
		padding: 0;
		margin: 0 -12px;
		position: absolute;
		border-radius: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		transform: rotate(-90deg);
		left: -240px;
		top: 119px;
		z-index: 5;
		@include media('<1300px') {
			left: -200px;
		}
		@include media('<desktop') {
			left: -170px;
		}
		@include media('<tablet') {
			display: none;
		}
		li {
			position: relative;
			margin: 0 12px;
			padding: 0 0 6px;
			&:before {
				transition: all 0.6s ease;
				opacity: 0;
				visibility: hidden;
				background: #5b5c5f;
				height: 1px;
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
			}
			&.active {
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		a {
			position: relative;
			color: #fff;
			display: inline-block;
			vertical-align: top;
			span {
				color: #1eb858;
			}
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}
	}
}

.download-area {
	font-family: $popins;
	background: #f7f7f7;
	padding: 96px 0 100px;
	position: relative;
	@include media('<tablet') {
		padding: 55px 0 50px;
	}
	.container {
		max-width: 862px;
	}
	.head {
		color: #abafb8;
		font-size: 14px;
		line-height: 18px;
		position: relative;
		margin: 0 0 36px;
		text-align: center;
		@include media('<tablet') {
			padding: 0 20px;
			line-height: 24px;
			margin: 0 0 31px;
		}
		h2 {
			font-size: 26px;
			line-height: 32px;
			color: #000;
			font-weight: 700;
			margin: 0 0 12px;
			@include media('<tablet') {
				line-height: 28px;
				margin: 0 0 17px;
			}
			strong {
				color: #1eb858;
			}
		}
		p {
			text-transform: uppercase;
			letter-spacing: 0.7px;
			margin: 0;
		}
	}

	.apps-list {
		position: relative;
		list-style: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -20px;
		@include media('<desktop') {
			margin: 0 -10px;
		}
		@include media('<tablet') {
			margin: 0 auto;
			max-width: 270px;
			display: block;
		}
		li {
			position: relative;
			padding: 0 20px;
			@include media('<desktop') {
				padding: 0 10px;
			}
			@include media('<tablet') {
				padding: 0;
				margin: 0 0 11px;
			}
			&:nth-child(2) {
				a {
					@include media('>=desktop') {
						width: 270px;
					}
				}
			}
		}
		a {
			box-shadow: 0 2px 5px 2px rgba(0,0,0,0.1);
			position: relative;
			padding: 20px 15px 15px 32px;
			background: #fff;
			display: block;
			width: 240px;
			height: 80px;
			@include media('<desktop') {
				padding: 20px 5px 15px 20px;
				width: 230px;
			}
			@include media('<tablet') {
				padding: 20px 15px 15px 32px;
				width: 100%;
			}
			&:hover {
				text-decoration: none;
				opacity: 0.7;
			}
		}
		.app-img {
			float: left;
			margin: 4px 0 0;
			img {
				display: block;
			}
		}
		.description {
			padding: 0 0 0 10px;
			position: relative;
			overflow: hidden;
		}
		.title {
			text-transform: uppercase;
			font-size: 14px;
			line-height: 16px;
			display: block;
			color: #abafb8;
		}
		.text {
			font-size: 22px;
			line-height: 28px;
			display: block;
			color: #000;
			@include media('<desktop') {
				font-size: 20px;
			}
			@include media('<tablet') {
				font-size: 22px;
			}
		}
	}
}

.block-showcase {
	position: relative;
	overflow: hidden;
	padding: 101px 0 50px;
	z-index: 2;

	@include media('<widescreen') {
		padding: 50px 0;
	}

	@include media('<tablet') {
		padding: 65px 25px;
	}

	@include media('<xs-phone') {
		padding: 65px 0;
	}

	&:before {
		position: absolute;
		left: -9999px;
		right: -9999px;
		top: 26.1%;
		height: 250px;
		content: '';
		background: #29b865;
		transform: rotate(154deg) translate(0, -50%);

		@include media('<widescreen') {
			top: 15%;
		}

		@include media('<tablet') {
			display: none;
		}
	}
}

.article {
	position: relative;
	font-size: 14px;
	line-height: 1.95;
	color: #abafb8;

	@include media('<widescreen') {
		margin: 0 0 64px;
	}

	&:nth-child(odd) {
		.row {
			flex-direction: row-reverse;
		}

		.image-holder {
			@include media('>=large') {
				margin: 0 -37px 0 0;
			}

			@include media('<tablet') {
				margin: 0 -25px 0 -23px;
			}
		}

		.text-holder {
			padding-left: 0;
			@include media('>=large') {
				padding-bottom: 68px
			}

			@include media('<tablet') {
				margin: 6px 0 0 -4px;
			}
		}
	}

	.row {
		justify-content: space-between;
		align-items: center;
	}

	h2 {
		margin: 0 0 18px;
		color: #000;
	}

	p {
		margin: 0 0 44px;
		text-transform: uppercase;

		@include media('<widescreen') {
			margin: 0 0 16px;
		}
	}

	.list-options {
		position: relative;
		overflow: hidden;
		color: #000;
		margin: 0 0 38px;
		letter-spacing: 0.2px;
		font-weight: 600; 

		@include media('<tablet') {
			margin: 0 0 24px;
		}

		li {
			margin: 0 0 15px;
			position: relative;
			padding: 0 0 0 24px;

			@include media('<tablet') {
				padding: 0 0 0 29px;
				letter-spacing: 0;
				line-height: 2.95;
				margin: 0 0 1px;
			}
		}

		.fas {
			position: absolute;
			left: 5px;
			top: 15px;
			color: #1eb857;
		}
	}

	.list-icons {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 -9px;

		@include media('<tablet') {
			margin: 0;
			padding: 0 0 0 17px;
		}

		li {
			padding: 0 9px;
		}

		a {
			width: 72px;
			height: 72px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			box-shadow: 0px 2px 8px 0px rgba(204,204,204,0.75);
			transition: all 0.4s ease;
			background: #fff;

			&:hover {
				transform: translate(0, -4px);
				box-shadow: 0px 4px 8px 0px rgba(204,204,204,0.85);
			}
		}

		img {
			max-width: 50%;
		}
	}

	.text-holder {
		@include media('>=large') {
			padding: 0 0 0 44px;
		}
	}

	.image-holder {
		position: relative;
		overflow: hidden;

		@include media('>=large') {
			margin: 0 0 0 -40px;
		}

		@include media('<tablet') {
			margin: 0 -25px 7px -24px;
		}

		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
	}

	.list-links {
		position: relative;
		padding: 6px 0 0;

		@include media('<tablet') {
			margin: 0 -40px;
			padding: 14px 0 0;
		}

		@include media('<xs-phone') {
			margin: 0 -15px;
		}

		li {
			margin: 0 0 2px;
		}

		a {
			display: block;
			position: relative;
			padding: 27px 40px 27px 60px;
			color: #000;
			box-shadow: 0px 2px 8px 0px rgba(204,204,204,0.75);
			transition: all 0.4s ease;
			font-weight: 600;
			letter-spacing: 0.3px;
			line-height: 1.2;

			@include media('<tablet') {
				padding: 15px 40px 12px 60px;
				line-height: 1.6;
			}

			&:hover {
				text-decoration: none;
				box-shadow: 0px 2px 10px 0px rgba(204,204,204,0.85);

				.fas {
					color: #000;
				}
			}

			.icon {
				width: 30px;
				left: 22px;
				top: 50%;
				transform: translate(0, -50%);
				position: absolute;

				img {
					width: 100%;
					height: auto;
					vertical-align: top;
				}
			}

			.fas {
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translate(0, -50%);
				color: #d5d7db;
				font-size: 20px;
				line-height: 20px;
				transition: all 0.4s ease;
			}
		}
	}
}